# Node modules
node_modules/

# Build output
dist/
build/

# TypeScript specific
*.tsbuildinfo

# Logs
logs
*.log

# Environment variables
.env

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*
